<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.sn.dao.TblFileInfoMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.sn.entity.TblFileInfo">
        <constructor>
            <idArg column="file_no" javaType="java.lang.Integer" jdbcType="DECIMAL" />
            <arg column="business_type" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="business_no" javaType="java.lang.Integer" jdbcType="DECIMAL" />
            <arg column="file_Name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="file_path" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="file_root_path" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="create_tm" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="file_stat" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="file_size" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="file_desc" javaType="java.lang.String" jdbcType="VARCHAR" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        file_no,business_type,business_no,file_Name,file_path,file_root_path,create_tm,file_stat,file_size,file_desc
    </sql>
    <select id="select" parameterType="cn.kanmars.sn.entity.TblFileInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_file_info
        where 1=1
        <if test="fileNo != null and fileNo != '' ">
            and file_no = #{fileNo,jdbcType=DECIMAL}
        </if>
        <if test="businessType != null and businessType != '' ">
            and business_type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="businessNo != null and businessNo != '' ">
            and business_no = #{businessNo,jdbcType=DECIMAL}
        </if>
        <if test="fileName != null and fileName != '' ">
            and file_Name = #{fileName,jdbcType=VARCHAR}
        </if>
        <if test="filePath != null and filePath != '' ">
            and file_path = #{filePath,jdbcType=VARCHAR}
        </if>
        <if test="fileRootPath != null and fileRootPath != '' ">
            and file_root_path = #{fileRootPath,jdbcType=VARCHAR}
        </if>
        <if test="createTm != null and createTm != '' ">
            and create_tm = #{createTm,jdbcType=VARCHAR}
        </if>
        <if test="fileStat != null and fileStat != '' ">
            and file_stat = #{fileStat,jdbcType=VARCHAR}
        </if>
        <if test="fileSize != null and fileSize != '' ">
            and file_size = #{fileSize,jdbcType=VARCHAR}
        </if>
        <if test="fileDesc != null and fileDesc != '' ">
            and file_desc = #{fileDesc,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectList" parameterType="cn.kanmars.sn.entity.TblFileInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_file_info
        where 1=1
        <if test="fileNo != null and fileNo != '' ">
            and file_no = #{fileNo,jdbcType=DECIMAL}
        </if>
        <if test="businessType != null and businessType != '' ">
            and business_type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="businessNo != null and businessNo != '' ">
            and business_no = #{businessNo,jdbcType=DECIMAL}
        </if>
        <if test="fileName != null and fileName != '' ">
            and file_Name = #{fileName,jdbcType=VARCHAR}
        </if>
        <if test="filePath != null and filePath != '' ">
            and file_path = #{filePath,jdbcType=VARCHAR}
        </if>
        <if test="fileRootPath != null and fileRootPath != '' ">
            and file_root_path = #{fileRootPath,jdbcType=VARCHAR}
        </if>
        <if test="createTm != null and createTm != '' ">
            and create_tm = #{createTm,jdbcType=VARCHAR}
        </if>
        <if test="fileStat != null and fileStat != '' ">
            and file_stat = #{fileStat,jdbcType=VARCHAR}
        </if>
        <if test="fileSize != null and fileSize != '' ">
            and file_size = #{fileSize,jdbcType=VARCHAR}
        </if>
        <if test="fileDesc != null and fileDesc != '' ">
            and file_desc = #{fileDesc,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="insert" parameterType="cn.kanmars.sn.entity.TblFileInfo" >
        insert into tbl_file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileNo != null ">
                file_no,
            </if>
            <if test="businessType != null ">
                business_type,
            </if>
            <if test="businessNo != null ">
                business_no,
            </if>
            <if test="fileName != null ">
                file_Name,
            </if>
            <if test="filePath != null ">
                file_path,
            </if>
            <if test="fileRootPath != null ">
                file_root_path,
            </if>
            <if test="createTm != null ">
                create_tm,
            </if>
            <if test="fileStat != null ">
                file_stat,
            </if>
            <if test="fileSize != null ">
                file_size,
            </if>
            <if test="fileDesc != null ">
                file_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileNo != null ">
                #{fileNo,jdbcType=DECIMAL},
            </if>
            <if test="businessType != null ">
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="businessNo != null ">
                #{businessNo,jdbcType=DECIMAL},
            </if>
            <if test="fileName != null ">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null ">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileRootPath != null ">
                #{fileRootPath,jdbcType=VARCHAR},
            </if>
            <if test="createTm != null ">
                #{createTm,jdbcType=VARCHAR},
            </if>
            <if test="fileStat != null ">
                #{fileStat,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null ">
                #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileDesc != null ">
                #{fileDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kanmars.sn.entity.TblFileInfo" >
        update tbl_file_info
        <set>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=VARCHAR} ,
            </if>
            <if test="businessNo != null">
                business_no = #{businessNo,jdbcType=DECIMAL} ,
            </if>
            <if test="fileName != null">
                file_Name = #{fileName,jdbcType=VARCHAR} ,
            </if>
            <if test="filePath != null">
                file_path = #{filePath,jdbcType=VARCHAR} ,
            </if>
            <if test="fileRootPath != null">
                file_root_path = #{fileRootPath,jdbcType=VARCHAR} ,
            </if>
            <if test="createTm != null">
                create_tm = #{createTm,jdbcType=VARCHAR} ,
            </if>
            <if test="fileStat != null">
                file_stat = #{fileStat,jdbcType=VARCHAR} ,
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=VARCHAR} ,
            </if>
            <if test="fileDesc != null">
                file_desc = #{fileDesc,jdbcType=VARCHAR} ,
            </if>
        </set>
        where 1=1
            and file_no = #{fileNo,jdbcType=DECIMAL}
    </update>
    <delete id="delete" parameterType="cn.kanmars.sn.entity.TblFileInfo" >
        delete from tbl_file_info
        where 1=1
            <if test="fileNo != null and fileNo != '' ">
                and file_no = #{fileNo,jdbcType=DECIMAL}
            </if>
            <if test="businessType != null and businessType != '' ">
                and business_type = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="businessNo != null and businessNo != '' ">
                and business_no = #{businessNo,jdbcType=DECIMAL}
            </if>
            <if test="fileName != null and fileName != '' ">
                and file_Name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null and filePath != '' ">
                and file_path = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="fileRootPath != null and fileRootPath != '' ">
                and file_root_path = #{fileRootPath,jdbcType=VARCHAR}
            </if>
            <if test="createTm != null and createTm != '' ">
                and create_tm = #{createTm,jdbcType=VARCHAR}
            </if>
            <if test="fileStat != null and fileStat != '' ">
                and file_stat = #{fileStat,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null and fileSize != '' ">
                and file_size = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileDesc != null and fileDesc != '' ">
                and file_desc = #{fileDesc,jdbcType=VARCHAR}
            </if>
    </delete>
    <select id="queryOneMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_file_info
        where 1=1
        <if test="fileNo != null and fileNo != '' ">
            and file_no = #{fileNo,jdbcType=DECIMAL}
        </if>
        <if test="businessType != null and businessType != '' ">
            and business_type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="businessNo != null and businessNo != '' ">
            and business_no = #{businessNo,jdbcType=DECIMAL}
        </if>
        <if test="fileName != null and fileName != '' ">
            and file_Name = #{fileName,jdbcType=VARCHAR}
        </if>
        <if test="filePath != null and filePath != '' ">
            and file_path = #{filePath,jdbcType=VARCHAR}
        </if>
        <if test="fileRootPath != null and fileRootPath != '' ">
            and file_root_path = #{fileRootPath,jdbcType=VARCHAR}
        </if>
        <if test="createTm != null and createTm != '' ">
            and create_tm = #{createTm,jdbcType=VARCHAR}
        </if>
        <if test="fileStat != null and fileStat != '' ">
            and file_stat = #{fileStat,jdbcType=VARCHAR}
        </if>
        <if test="fileSize != null and fileSize != '' ">
            and file_size = #{fileSize,jdbcType=VARCHAR}
        </if>
        <if test="fileDesc != null and fileDesc != '' ">
            and file_desc = #{fileDesc,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="queryListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_file_info
        where 1=1
        <if test="fileNo != null and fileNo != '' ">
            and file_no = #{fileNo,jdbcType=DECIMAL}
        </if>
        <if test="businessType != null and businessType != '' ">
            and business_type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="businessNo != null and businessNo != '' ">
            and business_no = #{businessNo,jdbcType=DECIMAL}
        </if>
        <if test="fileName != null and fileName != '' ">
            and file_Name = #{fileName,jdbcType=VARCHAR}
        </if>
        <if test="filePath != null and filePath != '' ">
            and file_path = #{filePath,jdbcType=VARCHAR}
        </if>
        <if test="fileRootPath != null and fileRootPath != '' ">
            and file_root_path = #{fileRootPath,jdbcType=VARCHAR}
        </if>
        <if test="createTm != null and createTm != '' ">
            and create_tm = #{createTm,jdbcType=VARCHAR}
        </if>
        <if test="fileStat != null and fileStat != '' ">
            and file_stat = #{fileStat,jdbcType=VARCHAR}
        </if>
        <if test="fileSize != null and fileSize != '' ">
            and file_size = #{fileSize,jdbcType=VARCHAR}
        </if>
        <if test="fileDesc != null and fileDesc != '' ">
            and file_desc = #{fileDesc,jdbcType=VARCHAR}
        </if>
    </select>
    <update id="updateCAS" parameterType="java.util.HashMap" >
        update tbl_file_info
        <set>
            <if test="businessType_new != null">
                business_type = #{businessType_new,jdbcType=VARCHAR} ,
            </if>
            <if test="businessNo_new != null">
                business_no = #{businessNo_new,jdbcType=DECIMAL} ,
            </if>
            <if test="fileName_new != null">
                file_Name = #{fileName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="filePath_new != null">
                file_path = #{filePath_new,jdbcType=VARCHAR} ,
            </if>
            <if test="fileRootPath_new != null">
                file_root_path = #{fileRootPath_new,jdbcType=VARCHAR} ,
            </if>
            <if test="createTm_new != null">
                create_tm = #{createTm_new,jdbcType=VARCHAR} ,
            </if>
            <if test="fileStat_new != null">
                file_stat = #{fileStat_new,jdbcType=VARCHAR} ,
            </if>
            <if test="fileSize_new != null">
                file_size = #{fileSize_new,jdbcType=VARCHAR} ,
            </if>
            <if test="fileDesc_new != null">
                file_desc = #{fileDesc_new,jdbcType=VARCHAR} ,
            </if>
        </set>
        where 1=1
            <if test="fileNo != null ">
                and file_no = #{fileNo,jdbcType=DECIMAL}
            </if>
            <if test="businessType != null ">
                and business_type = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="businessNo != null ">
                and business_no = #{businessNo,jdbcType=DECIMAL}
            </if>
            <if test="fileName != null ">
                and file_Name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null ">
                and file_path = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="fileRootPath != null ">
                and file_root_path = #{fileRootPath,jdbcType=VARCHAR}
            </if>
            <if test="createTm != null ">
                and create_tm = #{createTm,jdbcType=VARCHAR}
            </if>
            <if test="fileStat != null ">
                and file_stat = #{fileStat,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null ">
                and file_size = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileDesc != null ">
                and file_desc = #{fileDesc,jdbcType=VARCHAR}
            </if>
    </update>
    <select id="queryForPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        select count(1) as TOTALCOUNT from (
        </if>


        select
        <include refid="Base_Column_List" />
        from tbl_file_info
        where 1=1
        <if test="fileNo != null and fileNo != '' ">
            and file_no = #{fileNo,jdbcType=DECIMAL}
        </if>
        <if test="businessType != null and businessType != '' ">
            and business_type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="businessNo != null and businessNo != '' ">
            and business_no = #{businessNo,jdbcType=DECIMAL}
        </if>
        <if test="fileName != null and fileName != '' ">
            and file_Name like CONCAT(#{fileName,jdbcType=VARCHAR},'%')
        </if>
        <if test="filePath != null and filePath != '' ">
            and file_path like CONCAT(#{filePath,jdbcType=VARCHAR},'%')
        </if>
        <if test="fileRootPath != null and fileRootPath != '' ">
            and file_root_path like CONCAT(#{fileRootPath,jdbcType=VARCHAR},'%')
        </if>
        <if test="createTm != null and createTm != '' ">
            and create_tm = #{createTm,jdbcType=VARCHAR}
        </if>
        <if test="fileStat != null and fileStat != '' ">
            and file_stat = #{fileStat,jdbcType=VARCHAR}
        </if>
        <if test="fileSize != null and fileSize != '' ">
            and file_size like CONCAT(#{fileSize,jdbcType=VARCHAR},'%')
        </if>
        <if test="fileDesc != null and fileDesc != '' ">
            and file_desc like CONCAT(#{fileDesc,jdbcType=VARCHAR},'%')
        </if>


        <if test="countFlag != null and countFlag == 'N'.toString() ">
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
        </if>
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        ) as TMP_COUNT_TABLE
        </if>
    </select>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
        ORACLE的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                insert into test (a,b,c) values (#{item.a},#{item.b},#{item.c})
            </foreach>
        </insert>
        MYSQL的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            insert into test (a,b,c) values 
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.a},#{item.b},#{item.c}
            </foreach>
        </insert>
        
        
    -->
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into tbl_file_info (file_no,business_type,business_no,file_Name,file_path,file_root_path,create_tm,file_stat,file_size,file_desc) values 
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
            #{item.fileNo},#{item.businessType},#{item.businessNo},#{item.fileName},#{item.filePath},#{item.fileRootPath},#{item.createTm},#{item.fileStat},#{item.fileSize},#{item.fileDesc}
        </foreach>
    </insert>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
         ORACLE的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         MYSQL的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         
         
    -->
    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_file_info
            <set>
                <if test="item.businessType_new != null">
                    business_type = #{item.businessType_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.businessNo_new != null">
                    business_no = #{item.businessNo_new,jdbcType=DECIMAL} ,
                </if>
                <if test="item.fileName_new != null">
                    file_Name = #{item.fileName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.filePath_new != null">
                    file_path = #{item.filePath_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.fileRootPath_new != null">
                    file_root_path = #{item.fileRootPath_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.createTm_new != null">
                    create_tm = #{item.createTm_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.fileStat_new != null">
                    file_stat = #{item.fileStat_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.fileSize_new != null">
                    file_size = #{item.fileSize_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.fileDesc_new != null">
                    file_desc = #{item.fileDesc_new,jdbcType=VARCHAR} ,
                </if>
            </set>
            where 1=1
                <if test="item.fileNo != null ">
                    and file_no = #{item.fileNo,jdbcType=DECIMAL}
                </if>
                <if test="item.businessType != null ">
                    and business_type = #{item.businessType,jdbcType=VARCHAR}
                </if>
                <if test="item.businessNo != null ">
                    and business_no = #{item.businessNo,jdbcType=DECIMAL}
                </if>
                <if test="item.fileName != null ">
                    and file_Name = #{item.fileName,jdbcType=VARCHAR}
                </if>
                <if test="item.filePath != null ">
                    and file_path = #{item.filePath,jdbcType=VARCHAR}
                </if>
                <if test="item.fileRootPath != null ">
                    and file_root_path = #{item.fileRootPath,jdbcType=VARCHAR}
                </if>
                <if test="item.createTm != null ">
                    and create_tm = #{item.createTm,jdbcType=VARCHAR}
                </if>
                <if test="item.fileStat != null ">
                    and file_stat = #{item.fileStat,jdbcType=VARCHAR}
                </if>
                <if test="item.fileSize != null ">
                    and file_size = #{item.fileSize,jdbcType=VARCHAR}
                </if>
                <if test="item.fileDesc != null ">
                    and file_desc = #{item.fileDesc,jdbcType=VARCHAR}
                </if>
        </foreach>
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_file_info
        where 1=1
        and file_no = #{0}
    </select>
    <update id="editInfo" parameterType="java.util.HashMap">
    </update>

</mapper>

