<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.sn.dao.TblSysuserInfoMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.sn.entity.TblSysuserInfo">
        <constructor>
            <idArg column="user_no" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="user_nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="login_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="user_status" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="application_code" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="last_login_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="last_login_tm" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="create_time" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="up_time" javaType="java.lang.String" jdbcType="CHAR" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        user_no,user_name,user_nickname,login_name,password,user_status,application_code,last_login_ip,last_login_tm,create_time,up_time
    </sql>
    <select id="select" parameterType="cn.kanmars.sn.entity.TblSysuserInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysuser_info
        where 1=1
        <if test="userNo != null and userNo != '' ">
            and user_no = #{userNo,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != '' ">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userNickname != null and userNickname != '' ">
            and user_nickname = #{userNickname,jdbcType=VARCHAR}
        </if>
        <if test="loginName != null and loginName != '' ">
            and login_name = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != '' ">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userStatus != null and userStatus != '' ">
            and user_status = #{userStatus,jdbcType=CHAR}
        </if>
        <if test="applicationCode != null and applicationCode != '' ">
            and application_code = #{applicationCode,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">
            and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginTm != null and lastLoginTm != '' ">
            and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="selectList" parameterType="cn.kanmars.sn.entity.TblSysuserInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysuser_info
        where 1=1
        <if test="userNo != null and userNo != '' ">
            and user_no = #{userNo,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != '' ">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userNickname != null and userNickname != '' ">
            and user_nickname = #{userNickname,jdbcType=VARCHAR}
        </if>
        <if test="loginName != null and loginName != '' ">
            and login_name = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != '' ">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userStatus != null and userStatus != '' ">
            and user_status = #{userStatus,jdbcType=CHAR}
        </if>
        <if test="applicationCode != null and applicationCode != '' ">
            and application_code = #{applicationCode,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">
            and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginTm != null and lastLoginTm != '' ">
            and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <insert id="insert" parameterType="cn.kanmars.sn.entity.TblSysuserInfo" >
        insert into tbl_sysuser_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userNo != null ">
                user_no,
            </if>
            <if test="userName != null ">
                user_name,
            </if>
            <if test="userNickname != null ">
                user_nickname,
            </if>
            <if test="loginName != null ">
                login_name,
            </if>
            <if test="password != null ">
                password,
            </if>
            <if test="userStatus != null ">
                user_status,
            </if>
            <if test="applicationCode != null ">
                application_code,
            </if>
            <if test="lastLoginIp != null ">
                last_login_ip,
            </if>
            <if test="lastLoginTm != null ">
                last_login_tm,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="upTime != null ">
                up_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userNo != null ">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="userName != null ">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userNickname != null ">
                #{userNickname,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null ">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null ">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null ">
                #{userStatus,jdbcType=CHAR},
            </if>
            <if test="applicationCode != null ">
                #{applicationCode,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null ">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTm != null ">
                #{lastLoginTm,jdbcType=CHAR},
            </if>
            <if test="createTime != null ">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="upTime != null ">
                #{upTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kanmars.sn.entity.TblSysuserInfo" >
        update tbl_sysuser_info
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR} ,
            </if>
            <if test="userNickname != null">
                user_nickname = #{userNickname,jdbcType=VARCHAR} ,
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR} ,
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR} ,
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=CHAR} ,
            </if>
            <if test="applicationCode != null">
                application_code = #{applicationCode,jdbcType=VARCHAR} ,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR} ,
            </if>
            <if test="lastLoginTm != null">
                last_login_tm = #{lastLoginTm,jdbcType=CHAR} ,
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=CHAR} ,
            </if>
            <if test="upTime != null">
                up_time = #{upTime,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            and user_no = #{userNo,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="cn.kanmars.sn.entity.TblSysuserInfo" >
        delete from tbl_sysuser_info
        where 1=1
            <if test="userNo != null and userNo != '' ">
                and user_no = #{userNo,jdbcType=VARCHAR}
            </if>
            <if test="userName != null and userName != '' ">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="userNickname != null and userNickname != '' ">
                and user_nickname = #{userNickname,jdbcType=VARCHAR}
            </if>
            <if test="loginName != null and loginName != '' ">
                and login_name = #{loginName,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != '' ">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userStatus != null and userStatus != '' ">
                and user_status = #{userStatus,jdbcType=CHAR}
            </if>
            <if test="applicationCode != null and applicationCode != '' ">
                and application_code = #{applicationCode,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginIp != null and lastLoginIp != '' ">
                and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginTm != null and lastLoginTm != '' ">
                and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
            </if>
            <if test="createTime != null and createTime != '' ">
                and create_time = #{createTime,jdbcType=CHAR}
            </if>
            <if test="upTime != null and upTime != '' ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </delete>
    <select id="queryOneMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysuser_info
        where 1=1
        <if test="userNo != null and userNo != '' ">
            and user_no = #{userNo,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != '' ">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userNickname != null and userNickname != '' ">
            and user_nickname = #{userNickname,jdbcType=VARCHAR}
        </if>
        <if test="loginName != null and loginName != '' ">
            and login_name = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != '' ">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userStatus != null and userStatus != '' ">
            and user_status = #{userStatus,jdbcType=CHAR}
        </if>
        <if test="applicationCode != null and applicationCode != '' ">
            and application_code = #{applicationCode,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">
            and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginTm != null and lastLoginTm != '' ">
            and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="queryListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysuser_info
        where 1=1
        <if test="userNo != null and userNo != '' ">
            and user_no = #{userNo,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != '' ">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userNickname != null and userNickname != '' ">
            and user_nickname = #{userNickname,jdbcType=VARCHAR}
        </if>
        <if test="loginName != null and loginName != '' ">
            and login_name = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != '' ">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userStatus != null and userStatus != '' ">
            and user_status = #{userStatus,jdbcType=CHAR}
        </if>
        <if test="applicationCode != null and applicationCode != '' ">
            and application_code = #{applicationCode,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">
            and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginTm != null and lastLoginTm != '' ">
            and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <update id="updateCAS" parameterType="java.util.HashMap" >
        update tbl_sysuser_info
        <set>
            <if test="userName_new != null">
                user_name = #{userName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="userNickname_new != null">
                user_nickname = #{userNickname_new,jdbcType=VARCHAR} ,
            </if>
            <if test="loginName_new != null">
                login_name = #{loginName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="password_new != null">
                password = #{password_new,jdbcType=VARCHAR} ,
            </if>
            <if test="userStatus_new != null">
                user_status = #{userStatus_new,jdbcType=CHAR} ,
            </if>
            <if test="applicationCode_new != null">
                application_code = #{applicationCode_new,jdbcType=VARCHAR} ,
            </if>
            <if test="lastLoginIp_new != null">
                last_login_ip = #{lastLoginIp_new,jdbcType=VARCHAR} ,
            </if>
            <if test="lastLoginTm_new != null">
                last_login_tm = #{lastLoginTm_new,jdbcType=CHAR} ,
            </if>
            <if test="createTime_new != null">
                create_time = #{createTime_new,jdbcType=CHAR} ,
            </if>
            <if test="upTime_new != null">
                up_time = #{upTime_new,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            <if test="userNo != null ">
                and user_no = #{userNo,jdbcType=VARCHAR}
            </if>
            <if test="userName != null ">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="userNickname != null ">
                and user_nickname = #{userNickname,jdbcType=VARCHAR}
            </if>
            <if test="loginName != null ">
                and login_name = #{loginName,jdbcType=VARCHAR}
            </if>
            <if test="password != null ">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userStatus != null ">
                and user_status = #{userStatus,jdbcType=CHAR}
            </if>
            <if test="applicationCode != null ">
                and application_code = #{applicationCode,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginIp != null ">
                and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginTm != null ">
                and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
            </if>
            <if test="createTime != null ">
                and create_time = #{createTime,jdbcType=CHAR}
            </if>
            <if test="upTime != null ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </update>
    <select id="queryForPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        select count(1) as TOTALCOUNT from (
        </if>


        select
        <include refid="Base_Column_List" />
        from tbl_sysuser_info
        where 1=1
        <if test="userNo != null and userNo != '' ">
            and user_no like CONCAT(#{userNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="userName != null and userName != '' ">
            and user_name like CONCAT(#{userName,jdbcType=VARCHAR},'%')
        </if>
        <if test="userNickname != null and userNickname != '' ">
            and user_nickname like CONCAT(#{userNickname,jdbcType=VARCHAR},'%')
        </if>
        <if test="loginName != null and loginName != '' ">
            and login_name like CONCAT(#{loginName,jdbcType=VARCHAR},'%')
        </if>
        <if test="password != null and password != '' ">
            and password like CONCAT(#{password,jdbcType=VARCHAR},'%')
        </if>
        <if test="userStatus != null and userStatus != '' ">
            and user_status = #{userStatus,jdbcType=CHAR}
        </if>
        <if test="applicationCode != null and applicationCode != '' ">
            and application_code = #{applicationCode,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">
            and last_login_ip like CONCAT(#{lastLoginIp,jdbcType=VARCHAR},'%')
        </if>
        <if test="lastLoginTm != null and lastLoginTm != '' ">
            and last_login_tm = #{lastLoginTm,jdbcType=CHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>


        <if test="countFlag != null and countFlag == 'N'.toString() ">
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
        </if>
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        ) as TMP_COUNT_TABLE
        </if>
    </select>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
        ORACLE的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                insert into test (a,b,c) values (#{item.a},#{item.b},#{item.c})
            </foreach>
        </insert>
        MYSQL的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            insert into test (a,b,c) values 
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.a},#{item.b},#{item.c}
            </foreach>
        </insert>
        
        
    -->
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into tbl_sysuser_info (user_no,user_name,user_nickname,login_name,password,user_status,application_code,last_login_ip,last_login_tm,create_time,up_time) values 
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
            #{item.userNo},#{item.userName},#{item.userNickname},#{item.loginName},#{item.password},#{item.userStatus},#{item.applicationCode},#{item.lastLoginIp},#{item.lastLoginTm},#{item.createTime},#{item.upTime}
        </foreach>
    </insert>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
         ORACLE的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         MYSQL的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         
         
    -->
    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_sysuser_info
            <set>
                <if test="item.userName_new != null">
                    user_name = #{item.userName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.userNickname_new != null">
                    user_nickname = #{item.userNickname_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.loginName_new != null">
                    login_name = #{item.loginName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.password_new != null">
                    password = #{item.password_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.userStatus_new != null">
                    user_status = #{item.userStatus_new,jdbcType=CHAR} ,
                </if>
                <if test="item.applicationCode_new != null">
                    application_code = #{item.applicationCode_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.lastLoginIp_new != null">
                    last_login_ip = #{item.lastLoginIp_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.lastLoginTm_new != null">
                    last_login_tm = #{item.lastLoginTm_new,jdbcType=CHAR} ,
                </if>
                <if test="item.createTime_new != null">
                    create_time = #{item.createTime_new,jdbcType=CHAR} ,
                </if>
                <if test="item.upTime_new != null">
                    up_time = #{item.upTime_new,jdbcType=CHAR} ,
                </if>
            </set>
            where 1=1
                <if test="item.userNo != null ">
                    and user_no = #{item.userNo,jdbcType=VARCHAR}
                </if>
                <if test="item.userName != null ">
                    and user_name = #{item.userName,jdbcType=VARCHAR}
                </if>
                <if test="item.userNickname != null ">
                    and user_nickname = #{item.userNickname,jdbcType=VARCHAR}
                </if>
                <if test="item.loginName != null ">
                    and login_name = #{item.loginName,jdbcType=VARCHAR}
                </if>
                <if test="item.password != null ">
                    and password = #{item.password,jdbcType=VARCHAR}
                </if>
                <if test="item.userStatus != null ">
                    and user_status = #{item.userStatus,jdbcType=CHAR}
                </if>
                <if test="item.applicationCode != null ">
                    and application_code = #{item.applicationCode,jdbcType=VARCHAR}
                </if>
                <if test="item.lastLoginIp != null ">
                    and last_login_ip = #{item.lastLoginIp,jdbcType=VARCHAR}
                </if>
                <if test="item.lastLoginTm != null ">
                    and last_login_tm = #{item.lastLoginTm,jdbcType=CHAR}
                </if>
                <if test="item.createTime != null ">
                    and create_time = #{item.createTime,jdbcType=CHAR}
                </if>
                <if test="item.upTime != null ">
                    and up_time = #{item.upTime,jdbcType=CHAR}
                </if>
        </foreach>
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysuser_info
        where 1=1
        and user_no = #{0}
    </select>
    <update id="editInfo" parameterType="java.util.HashMap">
    </update>

</mapper>

