<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.sn.dao.TblSysroleMenuInfoMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.sn.entity.TblSysroleMenuInfo">
        <constructor>
            <idArg column="role_no" javaType="java.lang.String" jdbcType="VARCHAR" />
            <idArg column="menu_no" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="create_time" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="up_time" javaType="java.lang.String" jdbcType="CHAR" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        role_no,menu_no,create_time,up_time
    </sql>
    <select id="select" parameterType="cn.kanmars.sn.entity.TblSysroleMenuInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysrole_menu_info
        where 1=1
        <if test="roleNo != null and roleNo != '' ">
            and role_no = #{roleNo,jdbcType=VARCHAR}
        </if>
        <if test="menuNo != null and menuNo != '' ">
            and menu_no = #{menuNo,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="selectList" parameterType="cn.kanmars.sn.entity.TblSysroleMenuInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysrole_menu_info
        where 1=1
        <if test="roleNo != null and roleNo != '' ">
            and role_no = #{roleNo,jdbcType=VARCHAR}
        </if>
        <if test="menuNo != null and menuNo != '' ">
            and menu_no = #{menuNo,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <insert id="insert" parameterType="cn.kanmars.sn.entity.TblSysroleMenuInfo" >
        insert into tbl_sysrole_menu_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleNo != null ">
                role_no,
            </if>
            <if test="menuNo != null ">
                menu_no,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="upTime != null ">
                up_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleNo != null ">
                #{roleNo,jdbcType=VARCHAR},
            </if>
            <if test="menuNo != null ">
                #{menuNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null ">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="upTime != null ">
                #{upTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kanmars.sn.entity.TblSysroleMenuInfo" >
        update tbl_sysrole_menu_info
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=CHAR} ,
            </if>
            <if test="upTime != null">
                up_time = #{upTime,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            and role_no = #{roleNo,jdbcType=VARCHAR}
            and menu_no = #{menuNo,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="cn.kanmars.sn.entity.TblSysroleMenuInfo" >
        delete from tbl_sysrole_menu_info
        where 1=1
            <if test="roleNo != null and roleNo != '' ">
                and role_no = #{roleNo,jdbcType=VARCHAR}
            </if>
            <if test="menuNo != null and menuNo != '' ">
                and menu_no = #{menuNo,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != '' ">
                and create_time = #{createTime,jdbcType=CHAR}
            </if>
            <if test="upTime != null and upTime != '' ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </delete>
    <select id="queryOneMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysrole_menu_info
        where 1=1
        <if test="roleNo != null and roleNo != '' ">
            and role_no = #{roleNo,jdbcType=VARCHAR}
        </if>
        <if test="menuNo != null and menuNo != '' ">
            and menu_no = #{menuNo,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="queryListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysrole_menu_info
        where 1=1
        <if test="roleNo != null and roleNo != '' ">
            and role_no = #{roleNo,jdbcType=VARCHAR}
        </if>
        <if test="menuNo != null and menuNo != '' ">
            and menu_no = #{menuNo,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <update id="updateCAS" parameterType="java.util.HashMap" >
        update tbl_sysrole_menu_info
        <set>
            <if test="createTime_new != null">
                create_time = #{createTime_new,jdbcType=CHAR} ,
            </if>
            <if test="upTime_new != null">
                up_time = #{upTime_new,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            <if test="roleNo != null ">
                and role_no = #{roleNo,jdbcType=VARCHAR}
            </if>
            <if test="menuNo != null ">
                and menu_no = #{menuNo,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null ">
                and create_time = #{createTime,jdbcType=CHAR}
            </if>
            <if test="upTime != null ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </update>
    <select id="queryForPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        select count(1) as TOTALCOUNT from (
        </if>


        SELECT
                c.*,
                b.role_name,
        		a.menu_name

        FROM  tbl_sysmenu_info a ,tbl_sysrole_info b ,tbl_sysrole_menu_info c
		WHERE  a.menu_no = c.menu_no  AND b.role_no = c.role_no
        <if test="roleNo != null and roleNo != '' ">
            and b.role_no like CONCAT(#{roleNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="menuNo != null and menuNo != '' ">
            and a.menu_no like CONCAT(#{menuNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="createTime != null and createTime != '' ">
            and a.create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and a.up_time = #{upTime,jdbcType=CHAR}
        </if>


        <if test="countFlag != null and countFlag == 'N'.toString() ">
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
        </if>
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        ) as TMP_COUNT_TABLE
        </if>
    </select>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
        ORACLE的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                insert into test (a,b,c) values (#{item.a},#{item.b},#{item.c})
            </foreach>
        </insert>
        MYSQL的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            insert into test (a,b,c) values 
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.a},#{item.b},#{item.c}
            </foreach>
        </insert>
        
        
    -->
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into tbl_sysrole_menu_info (role_no,menu_no,create_time,up_time) values 
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
            #{item.roleNo},#{item.menuNo},#{item.createTime},#{item.upTime}
        </foreach>
    </insert>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
         ORACLE的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         MYSQL的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         
         
    -->
    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_sysrole_menu_info
            <set>
                <if test="item.createTime_new != null">
                    create_time = #{item.createTime_new,jdbcType=CHAR} ,
                </if>
                <if test="item.upTime_new != null">
                    up_time = #{item.upTime_new,jdbcType=CHAR} ,
                </if>
            </set>
            where 1=1
                <if test="item.roleNo != null ">
                    and role_no = #{item.roleNo,jdbcType=VARCHAR}
                </if>
                <if test="item.menuNo != null ">
                    and menu_no = #{item.menuNo,jdbcType=VARCHAR}
                </if>
                <if test="item.createTime != null ">
                    and create_time = #{item.createTime,jdbcType=CHAR}
                </if>
                <if test="item.upTime != null ">
                    and up_time = #{item.upTime,jdbcType=CHAR}
                </if>
        </foreach>
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sysrole_menu_info
        where 1=1
        and role_no = #{0}
        and menu_no = #{1}
    </select>
    <update id="editInfo" parameterType="java.util.HashMap">
    </update>

</mapper>

