<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.sn.dao.TblSysSequenceMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.sn.entity.TblSysSequence">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="DECIMAL" />
            <arg column="key_value" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="seq_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="top" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="suffix" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="curr_value" javaType="java.lang.Integer" jdbcType="DECIMAL" />
            <arg column="batch_size" javaType="java.lang.Integer" jdbcType="DECIMAL" />
            <arg column="create_time" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="up_time" javaType="java.lang.String" jdbcType="CHAR" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id,key_value,seq_desc,top,suffix,curr_value,batch_size,create_time,up_time
    </sql>
    <select id="select" parameterType="cn.kanmars.sn.entity.TblSysSequence" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sys_sequence
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="keyValue != null and keyValue != '' ">
            and key_value = #{keyValue,jdbcType=VARCHAR}
        </if>
        <if test="seqDesc != null and seqDesc != '' ">
            and seq_desc = #{seqDesc,jdbcType=VARCHAR}
        </if>
        <if test="top != null and top != '' ">
            and top = #{top,jdbcType=VARCHAR}
        </if>
        <if test="suffix != null and suffix != '' ">
            and suffix = #{suffix,jdbcType=VARCHAR}
        </if>
        <if test="currValue != null and currValue != '' ">
            and curr_value = #{currValue,jdbcType=DECIMAL}
        </if>
        <if test="batchSize != null and batchSize != '' ">
            and batch_size = #{batchSize,jdbcType=DECIMAL}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="selectList" parameterType="cn.kanmars.sn.entity.TblSysSequence" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sys_sequence
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="keyValue != null and keyValue != '' ">
            and key_value = #{keyValue,jdbcType=VARCHAR}
        </if>
        <if test="seqDesc != null and seqDesc != '' ">
            and seq_desc = #{seqDesc,jdbcType=VARCHAR}
        </if>
        <if test="top != null and top != '' ">
            and top = #{top,jdbcType=VARCHAR}
        </if>
        <if test="suffix != null and suffix != '' ">
            and suffix = #{suffix,jdbcType=VARCHAR}
        </if>
        <if test="currValue != null and currValue != '' ">
            and curr_value = #{currValue,jdbcType=DECIMAL}
        </if>
        <if test="batchSize != null and batchSize != '' ">
            and batch_size = #{batchSize,jdbcType=DECIMAL}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <insert id="insert" parameterType="cn.kanmars.sn.entity.TblSysSequence" >
        insert into tbl_sys_sequence
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="keyValue != null ">
                key_value,
            </if>
            <if test="seqDesc != null ">
                seq_desc,
            </if>
            <if test="top != null ">
                top,
            </if>
            <if test="suffix != null ">
                suffix,
            </if>
            <if test="currValue != null ">
                curr_value,
            </if>
            <if test="batchSize != null ">
                batch_size,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="upTime != null ">
                up_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="keyValue != null ">
                #{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="seqDesc != null ">
                #{seqDesc,jdbcType=VARCHAR},
            </if>
            <if test="top != null ">
                #{top,jdbcType=VARCHAR},
            </if>
            <if test="suffix != null ">
                #{suffix,jdbcType=VARCHAR},
            </if>
            <if test="currValue != null ">
                #{currValue,jdbcType=DECIMAL},
            </if>
            <if test="batchSize != null ">
                #{batchSize,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null ">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="upTime != null ">
                #{upTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kanmars.sn.entity.TblSysSequence" >
        update tbl_sys_sequence
        <set>
            <if test="keyValue != null">
                key_value = #{keyValue,jdbcType=VARCHAR} ,
            </if>
            <if test="seqDesc != null">
                seq_desc = #{seqDesc,jdbcType=VARCHAR} ,
            </if>
            <if test="top != null">
                top = #{top,jdbcType=VARCHAR} ,
            </if>
            <if test="suffix != null">
                suffix = #{suffix,jdbcType=VARCHAR} ,
            </if>
            <if test="currValue != null">
                curr_value = #{currValue,jdbcType=DECIMAL} ,
            </if>
            <if test="batchSize != null">
                batch_size = #{batchSize,jdbcType=DECIMAL} ,
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=CHAR} ,
            </if>
            <if test="upTime != null">
                up_time = #{upTime,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            and id = #{id,jdbcType=DECIMAL}
    </update>
    <delete id="delete" parameterType="cn.kanmars.sn.entity.TblSysSequence" >
        delete from tbl_sys_sequence
        where 1=1
            <if test="id != null and id != '' ">
                and id = #{id,jdbcType=DECIMAL}
            </if>
            <if test="keyValue != null and keyValue != '' ">
                and key_value = #{keyValue,jdbcType=VARCHAR}
            </if>
            <if test="seqDesc != null and seqDesc != '' ">
                and seq_desc = #{seqDesc,jdbcType=VARCHAR}
            </if>
            <if test="top != null and top != '' ">
                and top = #{top,jdbcType=VARCHAR}
            </if>
            <if test="suffix != null and suffix != '' ">
                and suffix = #{suffix,jdbcType=VARCHAR}
            </if>
            <if test="currValue != null and currValue != '' ">
                and curr_value = #{currValue,jdbcType=DECIMAL}
            </if>
            <if test="batchSize != null and batchSize != '' ">
                and batch_size = #{batchSize,jdbcType=DECIMAL}
            </if>
            <if test="createTime != null and createTime != '' ">
                and create_time = #{createTime,jdbcType=CHAR}
            </if>
            <if test="upTime != null and upTime != '' ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </delete>
    <select id="queryOneMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sys_sequence
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="keyValue != null and keyValue != '' ">
            and key_value = #{keyValue,jdbcType=VARCHAR}
        </if>
        <if test="seqDesc != null and seqDesc != '' ">
            and seq_desc = #{seqDesc,jdbcType=VARCHAR}
        </if>
        <if test="top != null and top != '' ">
            and top = #{top,jdbcType=VARCHAR}
        </if>
        <if test="suffix != null and suffix != '' ">
            and suffix = #{suffix,jdbcType=VARCHAR}
        </if>
        <if test="currValue != null and currValue != '' ">
            and curr_value = #{currValue,jdbcType=DECIMAL}
        </if>
        <if test="batchSize != null and batchSize != '' ">
            and batch_size = #{batchSize,jdbcType=DECIMAL}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="queryListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sys_sequence
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="keyValue != null and keyValue != '' ">
            and key_value = #{keyValue,jdbcType=VARCHAR}
        </if>
        <if test="seqDesc != null and seqDesc != '' ">
            and seq_desc = #{seqDesc,jdbcType=VARCHAR}
        </if>
        <if test="top != null and top != '' ">
            and top = #{top,jdbcType=VARCHAR}
        </if>
        <if test="suffix != null and suffix != '' ">
            and suffix = #{suffix,jdbcType=VARCHAR}
        </if>
        <if test="currValue != null and currValue != '' ">
            and curr_value = #{currValue,jdbcType=DECIMAL}
        </if>
        <if test="batchSize != null and batchSize != '' ">
            and batch_size = #{batchSize,jdbcType=DECIMAL}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <update id="updateCAS" parameterType="java.util.HashMap" >
        update tbl_sys_sequence
        <set>
            <if test="keyValue_new != null">
                key_value = #{keyValue_new,jdbcType=VARCHAR} ,
            </if>
            <if test="seqDesc_new != null">
                seq_desc = #{seqDesc_new,jdbcType=VARCHAR} ,
            </if>
            <if test="top_new != null">
                top = #{top_new,jdbcType=VARCHAR} ,
            </if>
            <if test="suffix_new != null">
                suffix = #{suffix_new,jdbcType=VARCHAR} ,
            </if>
            <if test="currValue_new != null">
                curr_value = #{currValue_new,jdbcType=DECIMAL} ,
            </if>
            <if test="batchSize_new != null">
                batch_size = #{batchSize_new,jdbcType=DECIMAL} ,
            </if>
            <if test="createTime_new != null">
                create_time = #{createTime_new,jdbcType=CHAR} ,
            </if>
            <if test="upTime_new != null">
                up_time = #{upTime_new,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            <if test="id != null ">
                and id = #{id,jdbcType=DECIMAL}
            </if>
            <if test="keyValue != null ">
                and key_value = #{keyValue,jdbcType=VARCHAR}
            </if>
            <if test="seqDesc != null ">
                and seq_desc = #{seqDesc,jdbcType=VARCHAR}
            </if>
            <if test="top != null ">
                and top = #{top,jdbcType=VARCHAR}
            </if>
            <if test="suffix != null ">
                and suffix = #{suffix,jdbcType=VARCHAR}
            </if>
            <if test="currValue != null ">
                and curr_value = #{currValue,jdbcType=DECIMAL}
            </if>
            <if test="batchSize != null ">
                and batch_size = #{batchSize,jdbcType=DECIMAL}
            </if>
            <if test="createTime != null ">
                and create_time = #{createTime,jdbcType=CHAR}
            </if>
            <if test="upTime != null ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </update>
    <select id="queryForPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        select count(1) as TOTALCOUNT from (
        </if>


        select
        <include refid="Base_Column_List" />
        from tbl_sys_sequence
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="keyValue != null and keyValue != '' ">
            and key_value like CONCAT(#{keyValue,jdbcType=VARCHAR},'%')
        </if>
        <if test="seqDesc != null and seqDesc != '' ">
            and seq_desc like CONCAT(#{seqDesc,jdbcType=VARCHAR},'%')
        </if>
        <if test="top != null and top != '' ">
            and top like CONCAT(#{top,jdbcType=VARCHAR},'%')
        </if>
        <if test="suffix != null and suffix != '' ">
            and suffix like CONCAT(#{suffix,jdbcType=VARCHAR},'%')
        </if>
        <if test="currValue != null and currValue != '' ">
            and curr_value = #{currValue,jdbcType=DECIMAL}
        </if>
        <if test="batchSize != null and batchSize != '' ">
            and batch_size = #{batchSize,jdbcType=DECIMAL}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime,jdbcType=CHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>


        <if test="countFlag != null and countFlag == 'N'.toString() ">
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
        </if>
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        ) as TMP_COUNT_TABLE
        </if>
    </select>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
        ORACLE的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                insert into test (a,b,c) values (#{item.a},#{item.b},#{item.c})
            </foreach>
        </insert>
        MYSQL的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            insert into test (a,b,c) values 
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.a},#{item.b},#{item.c}
            </foreach>
        </insert>
        
        
    -->
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into tbl_sys_sequence (id,key_value,seq_desc,top,suffix,curr_value,batch_size,create_time,up_time) values 
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
            #{item.id},#{item.keyValue},#{item.seqDesc},#{item.top},#{item.suffix},#{item.currValue},#{item.batchSize},#{item.createTime},#{item.upTime}
        </foreach>
    </insert>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
         ORACLE的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         MYSQL的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         
         
    -->
    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_sys_sequence
            <set>
                <if test="item.keyValue_new != null">
                    key_value = #{item.keyValue_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.seqDesc_new != null">
                    seq_desc = #{item.seqDesc_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.top_new != null">
                    top = #{item.top_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.suffix_new != null">
                    suffix = #{item.suffix_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.currValue_new != null">
                    curr_value = #{item.currValue_new,jdbcType=DECIMAL} ,
                </if>
                <if test="item.batchSize_new != null">
                    batch_size = #{item.batchSize_new,jdbcType=DECIMAL} ,
                </if>
                <if test="item.createTime_new != null">
                    create_time = #{item.createTime_new,jdbcType=CHAR} ,
                </if>
                <if test="item.upTime_new != null">
                    up_time = #{item.upTime_new,jdbcType=CHAR} ,
                </if>
            </set>
            where 1=1
                <if test="item.id != null ">
                    and id = #{item.id,jdbcType=DECIMAL}
                </if>
                <if test="item.keyValue != null ">
                    and key_value = #{item.keyValue,jdbcType=VARCHAR}
                </if>
                <if test="item.seqDesc != null ">
                    and seq_desc = #{item.seqDesc,jdbcType=VARCHAR}
                </if>
                <if test="item.top != null ">
                    and top = #{item.top,jdbcType=VARCHAR}
                </if>
                <if test="item.suffix != null ">
                    and suffix = #{item.suffix,jdbcType=VARCHAR}
                </if>
                <if test="item.currValue != null ">
                    and curr_value = #{item.currValue,jdbcType=DECIMAL}
                </if>
                <if test="item.batchSize != null ">
                    and batch_size = #{item.batchSize,jdbcType=DECIMAL}
                </if>
                <if test="item.createTime != null ">
                    and create_time = #{item.createTime,jdbcType=CHAR}
                </if>
                <if test="item.upTime != null ">
                    and up_time = #{item.upTime,jdbcType=CHAR}
                </if>
        </foreach>
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sys_sequence
        where 1=1
        and id = #{0}
    </select>
    <update id="editInfo" parameterType="java.util.HashMap">
    </update>
    <update id="updateIncreaseOfBatch" parameterType="cn.kanmars.sn.entity.TblSysSequence" >
        update tbl_sys_sequence set curr_value = curr_value + batch_size where key_value = #{keyValue,jdbcType=VARCHAR} and curr_value = #{currValue,jdbcType=INTEGER}
    </update>
</mapper>

