<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.sn.dao.TblTaskBasicConfigMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.sn.entity.TblTaskBasicConfig">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="task_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="parent_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="run_rule" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="run_status" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="status" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="business_obj_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="task_count" javaType="java.lang.Integer" jdbcType="DECIMAL" />
            <arg column="internet_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="server_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="business_info" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="config_time" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="up_person" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="up_time" javaType="java.lang.String" jdbcType="CHAR" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id,task_name,parent_id,run_rule,run_status,status,business_obj_name,task_count,internet_name,server_ip,business_info,config_time,up_person,up_time
    </sql>
    <select id="select" parameterType="cn.kanmars.sn.entity.TblTaskBasicConfig" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_task_basic_config
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="taskName != null and taskName != '' ">
            and task_name = #{taskName,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null and parentId != '' ">
            and parent_id = #{parentId,jdbcType=VARCHAR}
        </if>
        <if test="runRule != null and runRule != '' ">
            and run_rule = #{runRule,jdbcType=VARCHAR}
        </if>
        <if test="runStatus != null and runStatus != '' ">
            and run_status = #{runStatus,jdbcType=CHAR}
        </if>
        <if test="status != null and status != '' ">
            and status = #{status,jdbcType=CHAR}
        </if>
        <if test="businessObjName != null and businessObjName != '' ">
            and business_obj_name = #{businessObjName,jdbcType=VARCHAR}
        </if>
        <if test="taskCount != null and taskCount != '' ">
            and task_count = #{taskCount,jdbcType=DECIMAL}
        </if>
        <if test="internetName != null and internetName != '' ">
            and internet_name = #{internetName,jdbcType=VARCHAR}
        </if>
        <if test="serverIp != null and serverIp != '' ">
            and server_ip = #{serverIp,jdbcType=VARCHAR}
        </if>
        <if test="businessInfo != null and businessInfo != '' ">
            and business_info = #{businessInfo,jdbcType=VARCHAR}
        </if>
        <if test="configTime != null and configTime != '' ">
            and config_time = #{configTime,jdbcType=CHAR}
        </if>
        <if test="upPerson != null and upPerson != '' ">
            and up_person = #{upPerson,jdbcType=VARCHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="selectList" parameterType="cn.kanmars.sn.entity.TblTaskBasicConfig" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_task_basic_config
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="taskName != null and taskName != '' ">
            and task_name = #{taskName,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null and parentId != '' ">
            and parent_id = #{parentId,jdbcType=VARCHAR}
        </if>
        <if test="runRule != null and runRule != '' ">
            and run_rule = #{runRule,jdbcType=VARCHAR}
        </if>
        <if test="runStatus != null and runStatus != '' ">
            and run_status = #{runStatus,jdbcType=CHAR}
        </if>
        <if test="status != null and status != '' ">
            and status = #{status,jdbcType=CHAR}
        </if>
        <if test="businessObjName != null and businessObjName != '' ">
            and business_obj_name = #{businessObjName,jdbcType=VARCHAR}
        </if>
        <if test="taskCount != null and taskCount != '' ">
            and task_count = #{taskCount,jdbcType=DECIMAL}
        </if>
        <if test="internetName != null and internetName != '' ">
            and internet_name = #{internetName,jdbcType=VARCHAR}
        </if>
        <if test="serverIp != null and serverIp != '' ">
            and server_ip = #{serverIp,jdbcType=VARCHAR}
        </if>
        <if test="businessInfo != null and businessInfo != '' ">
            and business_info = #{businessInfo,jdbcType=VARCHAR}
        </if>
        <if test="configTime != null and configTime != '' ">
            and config_time = #{configTime,jdbcType=CHAR}
        </if>
        <if test="upPerson != null and upPerson != '' ">
            and up_person = #{upPerson,jdbcType=VARCHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <insert id="insert" parameterType="cn.kanmars.sn.entity.TblTaskBasicConfig" >
        insert into tbl_task_basic_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="taskName != null ">
                task_name,
            </if>
            <if test="parentId != null ">
                parent_id,
            </if>
            <if test="runRule != null ">
                run_rule,
            </if>
            <if test="runStatus != null ">
                run_status,
            </if>
            <if test="status != null ">
                status,
            </if>
            <if test="businessObjName != null ">
                business_obj_name,
            </if>
            <if test="taskCount != null ">
                task_count,
            </if>
            <if test="internetName != null ">
                internet_name,
            </if>
            <if test="serverIp != null ">
                server_ip,
            </if>
            <if test="businessInfo != null ">
                business_info,
            </if>
            <if test="configTime != null ">
                config_time,
            </if>
            <if test="upPerson != null ">
                up_person,
            </if>
            <if test="upTime != null ">
                up_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null ">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null ">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="runRule != null ">
                #{runRule,jdbcType=VARCHAR},
            </if>
            <if test="runStatus != null ">
                #{runStatus,jdbcType=CHAR},
            </if>
            <if test="status != null ">
                #{status,jdbcType=CHAR},
            </if>
            <if test="businessObjName != null ">
                #{businessObjName,jdbcType=VARCHAR},
            </if>
            <if test="taskCount != null ">
                #{taskCount,jdbcType=DECIMAL},
            </if>
            <if test="internetName != null ">
                #{internetName,jdbcType=VARCHAR},
            </if>
            <if test="serverIp != null ">
                #{serverIp,jdbcType=VARCHAR},
            </if>
            <if test="businessInfo != null ">
                #{businessInfo,jdbcType=VARCHAR},
            </if>
            <if test="configTime != null ">
                #{configTime,jdbcType=CHAR},
            </if>
            <if test="upPerson != null ">
                #{upPerson,jdbcType=VARCHAR},
            </if>
            <if test="upTime != null ">
                #{upTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kanmars.sn.entity.TblTaskBasicConfig" >
        update tbl_task_basic_config
        <set>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR} ,
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR} ,
            </if>
            <if test="runRule != null">
                run_rule = #{runRule,jdbcType=VARCHAR} ,
            </if>
            <if test="runStatus != null">
                run_status = #{runStatus,jdbcType=CHAR} ,
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR} ,
            </if>
            <if test="businessObjName != null">
                business_obj_name = #{businessObjName,jdbcType=VARCHAR} ,
            </if>
            <if test="taskCount != null">
                task_count = #{taskCount,jdbcType=DECIMAL} ,
            </if>
            <if test="internetName != null">
                internet_name = #{internetName,jdbcType=VARCHAR} ,
            </if>
            <if test="serverIp != null">
                server_ip = #{serverIp,jdbcType=VARCHAR} ,
            </if>
            <if test="businessInfo != null">
                business_info = #{businessInfo,jdbcType=VARCHAR} ,
            </if>
            <if test="configTime != null">
                config_time = #{configTime,jdbcType=CHAR} ,
            </if>
            <if test="upPerson != null">
                up_person = #{upPerson,jdbcType=VARCHAR} ,
            </if>
            <if test="upTime != null">
                up_time = #{upTime,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            and id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="cn.kanmars.sn.entity.TblTaskBasicConfig" >
        delete from tbl_task_basic_config
        where 1=1
            <if test="id != null and id != '' ">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="taskName != null and taskName != '' ">
                and task_name = #{taskName,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null and parentId != '' ">
                and parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="runRule != null and runRule != '' ">
                and run_rule = #{runRule,jdbcType=VARCHAR}
            </if>
            <if test="runStatus != null and runStatus != '' ">
                and run_status = #{runStatus,jdbcType=CHAR}
            </if>
            <if test="status != null and status != '' ">
                and status = #{status,jdbcType=CHAR}
            </if>
            <if test="businessObjName != null and businessObjName != '' ">
                and business_obj_name = #{businessObjName,jdbcType=VARCHAR}
            </if>
            <if test="taskCount != null and taskCount != '' ">
                and task_count = #{taskCount,jdbcType=DECIMAL}
            </if>
            <if test="internetName != null and internetName != '' ">
                and internet_name = #{internetName,jdbcType=VARCHAR}
            </if>
            <if test="serverIp != null and serverIp != '' ">
                and server_ip = #{serverIp,jdbcType=VARCHAR}
            </if>
            <if test="businessInfo != null and businessInfo != '' ">
                and business_info = #{businessInfo,jdbcType=VARCHAR}
            </if>
            <if test="configTime != null and configTime != '' ">
                and config_time = #{configTime,jdbcType=CHAR}
            </if>
            <if test="upPerson != null and upPerson != '' ">
                and up_person = #{upPerson,jdbcType=VARCHAR}
            </if>
            <if test="upTime != null and upTime != '' ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </delete>
    <select id="queryOneMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_task_basic_config
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="taskName != null and taskName != '' ">
            and task_name = #{taskName,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null and parentId != '' ">
            and parent_id = #{parentId,jdbcType=VARCHAR}
        </if>
        <if test="runRule != null and runRule != '' ">
            and run_rule = #{runRule,jdbcType=VARCHAR}
        </if>
        <if test="runStatus != null and runStatus != '' ">
            and run_status = #{runStatus,jdbcType=CHAR}
        </if>
        <if test="status != null and status != '' ">
            and status = #{status,jdbcType=CHAR}
        </if>
        <if test="businessObjName != null and businessObjName != '' ">
            and business_obj_name = #{businessObjName,jdbcType=VARCHAR}
        </if>
        <if test="taskCount != null and taskCount != '' ">
            and task_count = #{taskCount,jdbcType=DECIMAL}
        </if>
        <if test="internetName != null and internetName != '' ">
            and internet_name = #{internetName,jdbcType=VARCHAR}
        </if>
        <if test="serverIp != null and serverIp != '' ">
            and server_ip = #{serverIp,jdbcType=VARCHAR}
        </if>
        <if test="businessInfo != null and businessInfo != '' ">
            and business_info = #{businessInfo,jdbcType=VARCHAR}
        </if>
        <if test="configTime != null and configTime != '' ">
            and config_time = #{configTime,jdbcType=CHAR}
        </if>
        <if test="upPerson != null and upPerson != '' ">
            and up_person = #{upPerson,jdbcType=VARCHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <select id="queryListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_task_basic_config
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="taskName != null and taskName != '' ">
            and task_name = #{taskName,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null and parentId != '' ">
            and parent_id = #{parentId,jdbcType=VARCHAR}
        </if>
        <if test="runRule != null and runRule != '' ">
            and run_rule = #{runRule,jdbcType=VARCHAR}
        </if>
        <if test="runStatus != null and runStatus != '' ">
            and run_status = #{runStatus,jdbcType=CHAR}
        </if>
        <if test="status != null and status != '' ">
            and status = #{status,jdbcType=CHAR}
        </if>
        <if test="businessObjName != null and businessObjName != '' ">
            and business_obj_name = #{businessObjName,jdbcType=VARCHAR}
        </if>
        <if test="taskCount != null and taskCount != '' ">
            and task_count = #{taskCount,jdbcType=DECIMAL}
        </if>
        <if test="internetName != null and internetName != '' ">
            and internet_name = #{internetName,jdbcType=VARCHAR}
        </if>
        <if test="serverIp != null and serverIp != '' ">
            and server_ip = #{serverIp,jdbcType=VARCHAR}
        </if>
        <if test="businessInfo != null and businessInfo != '' ">
            and business_info = #{businessInfo,jdbcType=VARCHAR}
        </if>
        <if test="configTime != null and configTime != '' ">
            and config_time = #{configTime,jdbcType=CHAR}
        </if>
        <if test="upPerson != null and upPerson != '' ">
            and up_person = #{upPerson,jdbcType=VARCHAR}
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>
    </select>
    <update id="updateCAS" parameterType="java.util.HashMap" >
        update tbl_task_basic_config
        <set>
            <if test="taskName_new != null">
                task_name = #{taskName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="parentId_new != null">
                parent_id = #{parentId_new,jdbcType=VARCHAR} ,
            </if>
            <if test="runRule_new != null">
                run_rule = #{runRule_new,jdbcType=VARCHAR} ,
            </if>
            <if test="runStatus_new != null">
                run_status = #{runStatus_new,jdbcType=CHAR} ,
            </if>
            <if test="status_new != null">
                status = #{status_new,jdbcType=CHAR} ,
            </if>
            <if test="businessObjName_new != null">
                business_obj_name = #{businessObjName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="taskCount_new != null">
                task_count = #{taskCount_new,jdbcType=DECIMAL} ,
            </if>
            <if test="internetName_new != null">
                internet_name = #{internetName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="serverIp_new != null">
                server_ip = #{serverIp_new,jdbcType=VARCHAR} ,
            </if>
            <if test="businessInfo_new != null">
                business_info = #{businessInfo_new,jdbcType=VARCHAR} ,
            </if>
            <if test="configTime_new != null">
                config_time = #{configTime_new,jdbcType=CHAR} ,
            </if>
            <if test="upPerson_new != null">
                up_person = #{upPerson_new,jdbcType=VARCHAR} ,
            </if>
            <if test="upTime_new != null">
                up_time = #{upTime_new,jdbcType=CHAR} ,
            </if>
        </set>
        where 1=1
            <if test="id != null ">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="taskName != null ">
                and task_name = #{taskName,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null ">
                and parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="runRule != null ">
                and run_rule = #{runRule,jdbcType=VARCHAR}
            </if>
            <if test="runStatus != null ">
                and run_status = #{runStatus,jdbcType=CHAR}
            </if>
            <if test="status != null ">
                and status = #{status,jdbcType=CHAR}
            </if>
            <if test="businessObjName != null ">
                and business_obj_name = #{businessObjName,jdbcType=VARCHAR}
            </if>
            <if test="taskCount != null ">
                and task_count = #{taskCount,jdbcType=DECIMAL}
            </if>
            <if test="internetName != null ">
                and internet_name = #{internetName,jdbcType=VARCHAR}
            </if>
            <if test="serverIp != null ">
                and server_ip = #{serverIp,jdbcType=VARCHAR}
            </if>
            <if test="businessInfo != null ">
                and business_info = #{businessInfo,jdbcType=VARCHAR}
            </if>
            <if test="configTime != null ">
                and config_time = #{configTime,jdbcType=CHAR}
            </if>
            <if test="upPerson != null ">
                and up_person = #{upPerson,jdbcType=VARCHAR}
            </if>
            <if test="upTime != null ">
                and up_time = #{upTime,jdbcType=CHAR}
            </if>
    </update>
    <select id="queryForPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        select count(1) as TOTALCOUNT from (
        </if>


        select
        <include refid="Base_Column_List" />
        from tbl_task_basic_config
        where 1=1
        <if test="id != null and id != '' ">
            and id like CONCAT(#{id,jdbcType=VARCHAR},'%')
        </if>
        <if test="taskName != null and taskName != '' ">
            and task_name like CONCAT(#{taskName,jdbcType=VARCHAR},'%')
        </if>
        <if test="parentId != null and parentId != '' ">
            and parent_id like CONCAT(#{parentId,jdbcType=VARCHAR},'%')
        </if>
        <if test="runRule != null and runRule != '' ">
            and run_rule like CONCAT(#{runRule,jdbcType=VARCHAR},'%')
        </if>
        <if test="runStatus != null and runStatus != '' ">
            and run_status = #{runStatus,jdbcType=CHAR}
        </if>
        <if test="status != null and status != '' ">
            and status = #{status,jdbcType=CHAR}
        </if>
        <if test="businessObjName != null and businessObjName != '' ">
            and business_obj_name like CONCAT(#{businessObjName,jdbcType=VARCHAR},'%')
        </if>
        <if test="taskCount != null and taskCount != '' ">
            and task_count = #{taskCount,jdbcType=DECIMAL}
        </if>
        <if test="internetName != null and internetName != '' ">
            and internet_name like CONCAT(#{internetName,jdbcType=VARCHAR},'%')
        </if>
        <if test="serverIp != null and serverIp != '' ">
            and server_ip like CONCAT(#{serverIp,jdbcType=VARCHAR},'%')
        </if>
        <if test="businessInfo != null and businessInfo != '' ">
            and business_info like CONCAT(#{businessInfo,jdbcType=VARCHAR},'%')
        </if>
        <if test="configTime != null and configTime != '' ">
            and config_time = #{configTime,jdbcType=CHAR}
        </if>
        <if test="upPerson != null and upPerson != '' ">
            and up_person like CONCAT(#{upPerson,jdbcType=VARCHAR},'%')
        </if>
        <if test="upTime != null and upTime != '' ">
            and up_time = #{upTime,jdbcType=CHAR}
        </if>


        <if test="countFlag != null and countFlag == 'N'.toString() ">
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
        </if>
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        ) as TMP_COUNT_TABLE
        </if>
    </select>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
        ORACLE的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                insert into test (a,b,c) values (#{item.a},#{item.b},#{item.c})
            </foreach>
        </insert>
        MYSQL的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            insert into test (a,b,c) values 
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.a},#{item.b},#{item.c}
            </foreach>
        </insert>
        
        
    -->
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into tbl_task_basic_config (id,task_name,parent_id,run_rule,run_status,status,business_obj_name,task_count,internet_name,server_ip,business_info,config_time,up_person,up_time) values 
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
            #{item.id},#{item.taskName},#{item.parentId},#{item.runRule},#{item.runStatus},#{item.status},#{item.businessObjName},#{item.taskCount},#{item.internetName},#{item.serverIp},#{item.businessInfo},#{item.configTime},#{item.upPerson},#{item.upTime}
        </foreach>
    </insert>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
         ORACLE的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         MYSQL的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         
         
    -->
    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_task_basic_config
            <set>
                <if test="item.taskName_new != null">
                    task_name = #{item.taskName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.parentId_new != null">
                    parent_id = #{item.parentId_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.runRule_new != null">
                    run_rule = #{item.runRule_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.runStatus_new != null">
                    run_status = #{item.runStatus_new,jdbcType=CHAR} ,
                </if>
                <if test="item.status_new != null">
                    status = #{item.status_new,jdbcType=CHAR} ,
                </if>
                <if test="item.businessObjName_new != null">
                    business_obj_name = #{item.businessObjName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.taskCount_new != null">
                    task_count = #{item.taskCount_new,jdbcType=DECIMAL} ,
                </if>
                <if test="item.internetName_new != null">
                    internet_name = #{item.internetName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.serverIp_new != null">
                    server_ip = #{item.serverIp_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.businessInfo_new != null">
                    business_info = #{item.businessInfo_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.configTime_new != null">
                    config_time = #{item.configTime_new,jdbcType=CHAR} ,
                </if>
                <if test="item.upPerson_new != null">
                    up_person = #{item.upPerson_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.upTime_new != null">
                    up_time = #{item.upTime_new,jdbcType=CHAR} ,
                </if>
            </set>
            where 1=1
                <if test="item.id != null ">
                    and id = #{item.id,jdbcType=VARCHAR}
                </if>
                <if test="item.taskName != null ">
                    and task_name = #{item.taskName,jdbcType=VARCHAR}
                </if>
                <if test="item.parentId != null ">
                    and parent_id = #{item.parentId,jdbcType=VARCHAR}
                </if>
                <if test="item.runRule != null ">
                    and run_rule = #{item.runRule,jdbcType=VARCHAR}
                </if>
                <if test="item.runStatus != null ">
                    and run_status = #{item.runStatus,jdbcType=CHAR}
                </if>
                <if test="item.status != null ">
                    and status = #{item.status,jdbcType=CHAR}
                </if>
                <if test="item.businessObjName != null ">
                    and business_obj_name = #{item.businessObjName,jdbcType=VARCHAR}
                </if>
                <if test="item.taskCount != null ">
                    and task_count = #{item.taskCount,jdbcType=DECIMAL}
                </if>
                <if test="item.internetName != null ">
                    and internet_name = #{item.internetName,jdbcType=VARCHAR}
                </if>
                <if test="item.serverIp != null ">
                    and server_ip = #{item.serverIp,jdbcType=VARCHAR}
                </if>
                <if test="item.businessInfo != null ">
                    and business_info = #{item.businessInfo,jdbcType=VARCHAR}
                </if>
                <if test="item.configTime != null ">
                    and config_time = #{item.configTime,jdbcType=CHAR}
                </if>
                <if test="item.upPerson != null ">
                    and up_person = #{item.upPerson,jdbcType=VARCHAR}
                </if>
                <if test="item.upTime != null ">
                    and up_time = #{item.upTime,jdbcType=CHAR}
                </if>
        </foreach>
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_task_basic_config
        where 1=1
        and id = #{0}
    </select>
    <update id="editInfo" parameterType="java.util.HashMap">
    </update>

</mapper>

